@page "/"
@using Website.Models
@using Website.Data
@inject DataFetcher dataFetcher

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private Root<AverageWageDatum> _averageWages;
    private Root<TotalNoninstructionalEmployeesDatum> _totalNoninstructionalEmployees;

    protected override async Task OnInitializedAsync()
    {
        _averageWages = await dataFetcher.GetAverageWages();
        _totalNoninstructionalEmployees = await dataFetcher.GetTotalNoninstructionalEmployees();
    }
}